h1.logo.nav__link.nav__link__logo
    a(href="/")
        img(src="images/logotype.svg")
ul.nav
    li.nav__item
        a.nav__link(href='/search') Search
    li.nav__item
        a.nav__link(href='inbox') Inbox
    li.nav__item
        a.nav__link(href='/') Activity

    li.nav__item
        .btn.btn__green GET CREDITS

    li.nav__item
        input(type="checkbox" name="menu-open").menu-open#menu-open
        label(for="menu-open").menu-open-button
            span.hamburger.hamburger-1
            span.hamburger.hamburger-2
            span.hamburger.hamburger-3
